.form {
  position: absolute;
  top: -4.8em;
  left: 5%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.2rem;
  background-color: $violet;
  background-image: url(../../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70%;
  width: 90%;
  border-radius: 0.5rem;
  z-index: 1;

  ::placeholder {
    opacity: 0.8;
  }

  &__input {
    padding: 0.666em;
    border-radius: 0.5em;
    border: none;
    margin-bottom: 0.9em;
  }

  &__input--error {
    box-shadow: inset 0px 0px 0px 3px $red;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3em;
    padding: 1rem;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: left;
  }

  &__card-link {
    color: $title;
    padding-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__card-line {
    content: " ";
    margin: 0 -1em;
    max-width: 720px;
    height: 1px;
    background-color: $text;
  }

  &__card-url {
    color: $cyan;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &--error-message {
    margin-top: -0.8rem;
    margin-bottom: 1rem;
  }
}

.form--error {
  ::placeholder {
    opacity: 0.5;
  }
}

@include screen-m {
  .form {
    max-width: 720px;
    left: 50%;
    margin-left: -360px;
  }
}

@include screen-l {
  .form {
    background-image: url(../../images/bg-shorten-desktop.svg);
    background-size: auto;
    max-width: 1109px;
    left: 50%;
    margin-left: -554.5px;
    flex-direction: row;
    padding: 3rem;

    &__input {
      display: flex;
      flex-grow: 1;
      padding-left: 1.5em;
      margin-bottom: 0;
      margin-right: 1.5rem;
    }

    &__card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1109px;
      padding: 1rem 2rem;
    }

    &__card-link {
      padding-bottom: 0em;
      max-width: 35em;
    }

    &__card-url {
      margin-left: auto;
      margin-right: 2em;
    }

    &__card-line {
      max-width: 1109px;
    }

    &--error-message {
      position: absolute;
      bottom: 0;
      margin-bottom: 1.8em;
    }
  }
}
